# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
channel-bot
acceptor
reconnector
!cmd/acceptor
!cmd/reconnector

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/

# Log files
acceptor.log
channel-bot.log
reconnector.log

# Config files
acceptor.toml
channel-bot.toml
reconnector.toml

# Don't ignore the example channel-bot.toml
!example/channel-bot.toml

# GoLand config
.idea/
